blessings==1.3
# Django master branch: to be replaced with pypi when 1.4 comes out.
git+https://github.com/django/django.git#egg=django
django-debug-toolbar==0.9.4
django-extensions==0.7.1
neo4django==0.1.5
Werkzeug==0.8.3
